################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/zpp
/Debug32
/Debug64
/Release32
/Release64
